[flake8]
max-line-length = 100

## IGNORES

# E127: flake8 reporting incorrect continuation line indent errors
# on multi-line and multi-level indents

# W503, W504: flake8 reports this as incorrect, and scripts/format_code
# changes code to it, so let format_code win.

# E126: Continuation line over-indented for hanging indent
# Conflicts with yapf formatting

ignore = E127,W503,W504,E126