codespell
flake8
importlib-metadata
ipython
jupyter
lxml-stubs
mypy
nbsphinx
packaging
pylint
pytest
pytest-cov
sphinx
sphinx-autobuild
sphinx-click
sphinxcontrib-fulltoc
sphinxcontrib-napoleon
# an explicit toml installation is required until https://github.com/google/yapf/commit/fb0fbb47723612608a7c64cb3835562160ea834c is released
toml
types-certifi
types-orjson
types-python-dateutil
types-requests
yapf
