Shapely == 1.6
aiohttp == 3.8
click == 8.1.3
fsspec == 2021.7
lxml == 4.6
numpy == 1.23.1
pyproj == 3.0
pystac[validation] == 1.2
rasterio == 1.2.9
requests == 2.20
stac-check == 1.2.0
stac-validator == 3.1.0
