Shapely == 1.6
aiohttp == 3.8
click == 8.1.3
fsspec == 2021.7
lxml == 4.6.4
numpy == 1.22.0
pyproj == 3.3
pystac[validation] == 1.6.1
rasterio == 1.3.3
requests == 2.27.1
stac-check == 1.2.0
stac-validator == 3.1.0
