black
codespell
flake8
importlib-metadata
ipython
jupyter
lxml-stubs
mypy
nbsphinx
packaging
pre-commit
pylint
pytest
pytest-cov
sphinx
sphinx-autobuild
sphinx-click
sphinxcontrib-fulltoc
sphinxcontrib-napoleon
types-certifi
types-orjson
types-python-dateutil
types-requests
