Shapely == 1.8.5.post1
aiohttp == 3.8.3
click == 8.1.3
fsspec == 2021.7
lxml == 4.9.2
numpy == 1.24.0
pyproj == 3.3
pystac[validation] == 1.6.1
rasterio == 1.3.2
requests == 2.27.1
stac-check == 1.2.0
stac-validator == 3.1.0
